body {
  display: grid;
  grid-template-columns: 1fr [lg] 800px [rg] 1fr; 
  grid-template-rows: [head] minmax(90px, auto) [nav] minmax(20px, auto) [content] auto [footer] auto; 
}

@include media-query($on-laptop) {
  body {
    display: grid;
    grid-template-columns: 20px [lg] 1fr [rg] 20px; 
  }
}
/**
 * Site header
 */
.site-header {
    text-align: center;
    grid-column: lg/rg;
    grid-row: head/nav;
}
.titlewrap {
  &:after {
    content: '';
    background: #333;
    height: 2px;
    width: 30%;
    margin-left: 35%;
    display: block;
  }
}

.site-title {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 80px;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 30px;
    font-size: $base-font-size * 1.1;
    text-align: center;
    grid-area: nav/lg/span 1/rg;

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;
        &:hover { color: darken($brand-color, 30%); }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


main {
  grid-area: content/lg/footer/rg;
}



/**
 * Site footer
 */

footer
{
  grid-column: lg/rg;
  grid-row: footer;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  font-size: $small-font-size;
  color: $grey-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 30px;
}

article {
  padding-top: $spacing-unit;
}

.post p:last-of-type {
  margin: 0;
}

.readmore {
  font-size: $small-font-size;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom:10px;
}

.post-link {
    font-size: 28px;
    font-weight: bold;
    margin-bottom:0;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
